.galery-container {
    display: flex;
    gap: 15px; /* Jarak antar gambar */
    flex-wrap: wrap;
    margin-top: 20px;
    /* padding: 20px; */
    justify-content: start;
}

.album-list-container {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 12px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gambar-container {
    width: 316px;
    height: 240px;
    background-color: #ececec;
    margin-bottom: 20px auto;
    /* margin-left: 1.5rem; */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

/* .gambar:hover {
    transform: scale(1.05);
} */

.gambar-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.gambar-button {
    position: absolute;
    right: 10px;
}

.gambar-button button {
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.add-button {
    padding: 8px 10px;
    margin-bottom: 10px;
    background-color: #92e17a;
    border: 1px solid #37d259;
    border-radius: 7px;
    cursor: pointer;
}

/* album */

.album-container {
    max-width: 400px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
}
.album-form {
    padding: 8px 10px;
    margin-bottom: 10px;
    width: 100%;
}

.album-form p {
    font-size: 15px;
}

.album-form input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 5px;
}

.album-form-success button{
    padding: 10px 12px;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(34, 216, 104);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.album-form-danger button{
    padding: 8px 12px;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(207, 26, 26);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.album-button {
    width: auto;
    padding: 12px 14px;
    margin: 10px;
    border-radius: 50px;
    border: 1px solid #66B78C;
    background-color: #66B78D;
    color: white;
    cursor: pointer;
}

.album-button button a {
    font-size: 10px;
    width: auto;
}

/* galery */

.galery-form {
    padding: 8px 10px;
    margin-bottom: 10px;
    width: 100%;
}

.galery-form p {
    font-size: 15px;
}

.galery-form input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 5px;
}

.galery-form a button {
    padding: 10px 12px;
    width: 100%;
    background-color: rgb(55, 127, 235);
    border: 1px solid black;
    border-radius: 5px;
}
